@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body{
	font-family: 'Big Shoulders Display', cursive;
	font-family: 'Lexend Deca', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(0, 0%, 95%);
}

.wrapper{
	display:flex;
	flex-direction: row;
	max-width: 64rem;
}

.content{
	display: flex;
	flex-direction: column;
	gap:1.8rem;
}

.sedans, .suvs, .luxury{
	display:flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	gap:5.4rem;
	padding:3rem 3.4rem;
	max-width: 31rem;
}

.sedans{
	background-color: hsl(31, 77%, 52%);
	border-radius: 0.5rem 0 0 0.5rem;
}

.suvs{
	background-color: hsl(184, 100%, 22%);
}

.luxury{
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 0.5rem 0.5rem 0;
}

h1{
	font-family: 'Big Shoulders Display', cursive;
	font-size:2.7rem;
	text-transform: uppercase;
	color:hsl(0, 0%, 95%);
}

p{
	font-family: 'Lexend Deca', sans-serif;
	color:hsla(0, 0%, 100%, 0.75);
	line-height: 1.75rem;
	max-width:14rem;
}

button{
	font-family: 'Lexend Deca', sans-serif;
	border: 2px solid hsl(0, 0%, 95%);
	padding:0.9rem;
	width:10rem;
	font-size: 1rem;
	text-transform: capitalize;
	border-radius: 2rem;
	background-color: hsl(0, 0%, 95%);
	transition: all 200ms ease-in-out;
}

.b1{
	color:hsl(31, 77%, 52%);
}

.b2{
	color:hsl(184, 100%, 22%);
}

.b3{
	color:hsl(179, 100%, 13%);
}

button:hover{
	background-color: transparent;
	color:hsl(0, 0%, 95%);
	cursor: pointer;
}

@media screen and (max-width: 810px) {
	.wrapper{
		display:flex;
		flex-direction: column;
	}
	.sedans, .suvs, .luxury{
		gap:1rem
	}
	.sedans{
		border-radius: 0.5rem 0.5rem 0 0;
	}
	.luxury{
		border-radius:0 0 0.5rem 0.5rem;
	}
}